<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>ProjectJEE</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Home</display-name>
    <servlet-name>Home</servlet-name>
    <servlet-class>Servlets.Home</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Home</servlet-name>
    <url-pattern>/Home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUPDonateur</display-name>
    <servlet-name>SignUPDonateur</servlet-name>
    <servlet-class>Servlets.SignUPDonateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUPDonateur</servlet-name>
    <url-pattern>/SignUPDonateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignINAdmin</display-name>
    <servlet-name>SignINAdmin</servlet-name>
    <servlet-class>Servlets.SignINAdmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignINAdmin</servlet-name>
    <url-pattern>/SignINAdmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignINDonateur</display-name>
    <servlet-name>SignINDonateur</servlet-name>
    <servlet-class>Servlets.SignINDonateur</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignINDonateur</servlet-name>
    <url-pattern>/SignINDonateur</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignINAssociation</display-name>
    <servlet-name>SignINAssociation</servlet-name>
    <servlet-class>Servlets.SignINAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignINAssociation</servlet-name>
    <url-pattern>/SignINAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUPAssociation</display-name>
    <servlet-name>SignUPAssociation</servlet-name>
    <servlet-class>Servlets.SignUPAssociation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUPAssociation</servlet-name>
    <url-pattern>/SignUPAssociation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newDonation</display-name>
    <servlet-name>newDonation</servlet-name>
    <servlet-class>Servlets.newDonation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newDonation</servlet-name>
    <url-pattern>/newDonation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newCollaboration</display-name>
    <servlet-name>newCollaboration</servlet-name>
    <servlet-class>Servlets.newCollaboration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newCollaboration</servlet-name>
    <url-pattern>/newCollaboration</url-pattern>
  </servlet-mapping>
</web-app>